@use '/src/style/css/mixin/font.scss';
@use '/src/style/css/variable/color.scss';

body {
  @include font.default;
  color: color.$default-black-color
}

html,
body,
div[id='root'] {
  height: 100%;
  box-sizing: border-box;
}

div,
ul,
ol,
li,
a,
input,
::before {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
