@mixin font-family {
  font-family: sans-serif;
}

@mixin headline-1 {
  @include font-family;
  font-size: 32px;
  font-weight: 700;
}

@mixin headline-2 {
  @include font-family;
  font-size: 28px;
  font-weight: 700;
}

@mixin headline-3 {
  @include font-family;
  font-size: 24px;
  font-weight: 700;
}

@mixin headline-4 {
  @include font-family;
  font-size: 20px;
  font-weight: 700;
}

@mixin headline-5 {
  @include font-family;
  font-size: 18px;
  font-weight: 700;
}

@mixin headline-6 {
  @include font-family;
  font-size: 16px;
  font-weight: 700;
}

@mixin default {
  @include font-family;
  font-size: 16px;
}

